<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>491611218316-8it2nr2tq2err9ivva2dkm6aifpu7s23.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.491611218316-8it2nr2tq2err9ivva2dkm6aifpu7s23</string>
	<key>API_KEY</key>
	<string>AIzaSyC8HK-FITX0nsDEwg19Pa4wtfojbJrk31w</string>
	<key>GCM_SENDER_ID</key>
	<string>491611218316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.com1.modngan</string>
	<key>PROJECT_ID</key>
	<string>modngan-6f2bc</string>
	<key>STORAGE_BUCKET</key>
	<string>modngan-6f2bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:491611218316:ios:40a177f52e79b2e0</string>
	<key>DATABASE_URL</key>
	<string>https://modngan-6f2bc.firebaseio.com</string>
</dict>
</plist>